<ion-header [ngStyle]="{ 'background-image': 'url(' + profile.photo + ')' }">

  <ion-label id="name">{{ profile.name }}</ion-label>
  <ion-label id="since">{{ 2017 - profile.since }} years of experience</ion-label>
  <ion-label id="babies">Delivered {{ profile.births }} babies</ion-label>

  <div class="action-icon">
    <div class="icon-pencil"></div>
  </div>

</ion-header>

<ion-content padding>

  <div class="grid">
    <div class="card" id="about">
      <div class="label">About me</div>
      <p>
        {{ profile.about }}
      </p>
    </div>
    <div class="card" id="skills">
      <div class="label">Skill set</div>
      <p>
        <span *ngFor="let item of profile.certifications; let isLast=last">
          {{item}}{{isLast ? '' : ' &middot; '}}
        </span>
      </p>
    </div>
    <div class="card" id="interest">
      <div>
        Interests:<br>
        <p>
          <span *ngFor="let item of profile.interests; let isLast=last">
            {{item}}{{isLast ? '' : ' &middot; '}}
          </span>
        </p>
      </div>
    </div>
  </div>

</ion-content>