page-profile {

    ion-header {
        background-image: url('../../assets/profile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 200px;
        color: white;
        padding: 10px;
    }

    #name {
      font-size: medium;
      font-weight: bold;
      margin-top: 130px;
      margin-bottom: 0px;
    }

    #age {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #job {
      margin-top: 0px;
    }

}
