page-profile {

    ion-header {
        background-image: url('../../assets/profile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 30%;
    }

}
