page-login ion-content {

    background-image: url('../../assets/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#register {
  margin-top: 250px;
  border-radius: 20px;
  width: 200px;
}

#email{
  margin-top: 50px;
  font-color: red;
}

input.text-input {
  font-size: larger;
  color: #fff;
  margin-left: 25px;
}

#login {
  border-radius: 20px;
  width: 100%;
  height: 30px;
}

#privacy {
  color: white;
  margin-top: 40px;
  font-size: x-small;
  width: 100px;
  cursor: pointer;
}


